:host {
  display: block;
  min-height: 100vh;
}

.min-h-screen {
  min-height: 100vh;
}

.bg-white {
  background-color: #ffffff;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-1 {
  flex: 1 1 0%;
}